<?xml version="1.0" encoding="UTF-8"?>

<?include etc\properties.wxi ?>

<?define INSTALLED_PRODUCT_NAME="OSSBuild Build Environment $(var.OSSBUILD_VERSION)" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:OSSBuild="$(ossbuild.namespaceURI())">
	<Product 
	  Id="*" 
	  Name="$(var.INSTALLED_PRODUCT_NAME)" 
	  Version="$(var.OSSBUILD_VERSION_FULL)" 
	  Language="$(var.CURRENT_LANGUAGE)" 
	  Manufacturer="$(var.MANUFACTURER)" 
	  UpgradeCode="$(var.GUID_OSSBUILD_BUILD_ENV_UPGRADE_CODE)"
	>
		<Package InstallScope="perMachine" InstallPrivileges="elevated" Compressed="yes" Languages="$(var.SUPPORTED_LANGUAGES)" InstallerVersion="$(var.MINIMAL_INSTALLER_VERSION)" />
		<Media Id="1" Cabinet="env_main.cab" EmbedCab="yes" CompressionLevel="high" />
		<Media Id="2" Cabinet="env_msys.cab" EmbedCab="yes" CompressionLevel="high" />
		<Media Id="3" Cabinet="env_ruby.cab" EmbedCab="yes" CompressionLevel="high" />
		<MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersionFound)" />

		<Feature
			Id="Full"
			Title="OSSBuild Environment"
			Description="The full environment."
			Level="1"
			Display="expand"
			AllowAdvertise="no"
			ConfigurableDirectory="INSTALLDIR"
		>

			<Feature Id="Env_Ruby" Title="Ruby Support" Description="Installs Ruby tools such as rake, gem, etc." Level="1000" AllowAdvertise="no">
				<!-- Ruby -->
				<ComponentGroupRef Id="OSSBuildBuildEnvRuby" />
			</Feature>

			<Feature Id="Tools" Title="Additional Tool Support" Description="Provides support for automatic discovery of 3rd party tools such as Microsoft compilers and JDKs." Display="expand" Level="1000" AllowAdvertise="no">
				<ComponentRef Id="Empty" />
				
				<Feature Id="Tools_Microsoft" Title="Microsoft Tools" Description="Configures the environment to make use of Microsoft tools. The Platform SDK or Visual Studio should be installed." Level="1000" AllowAdvertise="no">
					<!-- Microsoft Tools -->
					<ComponentGroupRef Id="OSSBuildMicrosoftTools" />
				</Feature>

				<Feature Id="Tools_Java" Title="Java Tools" Description="Configures the environment to make use of an installed JDK. An Oracle-provided JDK should be installed." Level="1000" AllowAdvertise="no">
					<!-- Java Tools -->
					<ComponentGroupRef Id="OSSBuildJavaTools" />
				</Feature>

				<Feature Id="Tools_Installer" Title="Installer Tools" Description="Configures the environment to make use of installer tools such as WiX (Windows Installer XML). WiX 3.5 or higher should be installed." Level="1000" AllowAdvertise="no">
					<!-- Installer Tools -->
					<ComponentGroupRef Id="OSSBuildInstallerTools" />
				</Feature>
			</Feature>

			<!-- This component group is autogenerated using heat.exe (see the associated batch file in the ./generated/ directory). -->
			<ComponentGroupRef Id="OSSBuildBuildEnvMSys" />

			<!-- Adds uninstall shortcuts, etc. -->
			<ComponentGroupRef Id="OSSBuildBuildEnv" />

			<!-- Common -->
			<ComponentGroupRef Id="OSSBuildCommon" />

			<!-- Python -->
			<ComponentGroupRef Id="PythonCheck" />

			<!-- WiX -->
			<!-- Disable WiX check for now; it's not a hard dependency anymore. It will be looked for when the environment is run. -->
			<!-- <ComponentGroupRef Id="WiXCheck" /> -->

			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>

		<ComponentGroup Id="OSSBuildBuildEnv">
			<ComponentRef Id="OSSBuildBuildEnvUninstallShortcut" />
			<ComponentRef Id="OSSBuildBuildEnvMSysX86Shortcut" />
			<ComponentRef Id="OSSBuildBuildEnvMSysX86_64Shortcut" />
		</ComponentGroup>

		<ComponentGroup Id="OSSBuildMicrosoftTools">
			<ComponentRef Id="OSSBuildMicrosoftTools" />
		</ComponentGroup>

		<ComponentGroup Id="OSSBuildJavaTools">
			<ComponentRef Id="OSSBuildJavaTools" />
		</ComponentGroup>

		<ComponentGroup Id="OSSBuildInstallerTools">
			<ComponentRef Id="OSSBuildInstallerTools" />
		</ComponentGroup>

		<!-- C:\OSSBuild\v<Version>\sys\ -->
		<DirectoryRef Id="OSSBuildInstallSysDir">
			<!-- Fill in any files we'll need -->
		</DirectoryRef>

		<!-- C:\OSSBuild\v<Version>\sys\etc\profile.d\ossbuild\ -->
		<DirectoryRef Id="OSSBuildInstallSysEtcProfileOssbuildDir">
			<Component Id="OSSBuildMicrosoftTools">
				<File Id="OSSBuildMicrosoftToolsShellScript" KeyPath="yes" Source="$(var.PACKAGES_MSYS_DIR)\ossbuild\ms-tools.sh" DiskId="1" />
			</Component>
			<Component Id="OSSBuildJavaTools">
				<File Id="OSSBuildJavaToolsShellScript" KeyPath="yes" Source="$(var.PACKAGES_MSYS_DIR)\ossbuild\java-tools.sh" DiskId="1" />
			</Component>
			<Component Id="OSSBuildInstallerTools">
				<File Id="OSSBuildInstallerToolsShellScript" KeyPath="yes" Source="$(var.PACKAGES_MSYS_DIR)\ossbuild\installer-tools.sh" DiskId="1" />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id="OSSBuildShortcutsToolsDir">
			<Component Id="OSSBuildBuildEnvUninstallShortcut">
				<Shortcut Id="Uninstall" Name="Uninstall Build Environment" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Directory="OSSBuildShortcutsToolsDir" Description="Uninstalls the OSSBuild v$(var.OSSBUILD_VERSION) build environment." />
				<RegistryValue Root="HKCU" Key="$(var.REGISTRY_OSSBUILD_BUILD_ENV_SHORTCUTS_KEY)" Name="Uninstall" Value="" Type="string" KeyPath="yes" />
				<RemoveFolder Id="OSSBuildShortcutsToolsDir" On="uninstall" />
				<RemoveFolder Id="OSSBuildShortcutsDir" On="uninstall" />
			</Component>
			 
			<Component Id="OSSBuildBuildEnvMSysX86Shortcut">
				<Shortcut Id="MSys_x86" Name="OSSBuild (x86) Command Prompt" Target="[!MSYS_X86_BAT]" Directory="OSSBuildShortcutsToolsDir" Description="Creates an MSys command prompt for OSSBuild v$(var.OSSBUILD_VERSION) work on the x86 platform." />
				<RegistryValue Root="HKCU" Key="$(var.REGISTRY_OSSBUILD_BUILD_ENV_SHORTCUTS_KEY)" Name="MSys_x86" Value="" Type="string" KeyPath="yes" />
			</Component>

			<Component Id="OSSBuildBuildEnvMSysX86_64Shortcut">
				<Shortcut Id="MSys_x86_64" Name="OSSBuild (x86_64) Command Prompt" Target="[!MSYS_X86_64_BAT]" Directory="OSSBuildShortcutsToolsDir" Description="Creates an MSys command prompt for OSSBuild v$(var.OSSBUILD_VERSION) work on the x86_64 platform." />
				<RegistryValue Root="HKCU" Key="$(var.REGISTRY_OSSBUILD_BUILD_ENV_SHORTCUTS_KEY)" Name="MSys_x86_64" Value="" Type="string" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<UIRef Id="WixUI_FeatureTree" />

	</Product>
</Wix>
