<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle 
	  Version="1.0.0.0" 
	  Manufacturer="OSSBuild" 
	  Name="OSSBuild Environment" 
	  Copyright="Copyright (c) 2011 OSSBuild. All rights reserved." 
	  UpgradeCode="001ba28b-155f-4b1a-92d4-b31b3f7cd8cc" 
	  Compressed="yes" 
	  IconSourceFile="..\..\shared\resources\icon.ico" 
	  SplashScreenSourceFile="..\..\shared\resources\splash.png"
	>
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
		<WixVariable Id="WixStdbaLicenseRtf" Value="..\..\shared\licenses\lgpl.rtf" />
		<WixVariable Id="WixStdbaLogo" Value="..\..\shared\resources\logo-wix.png" />
		<!-- <WixVariable Id="WixStdbaLicenseUrl" Value="http://example.com/license.html" /> -->

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<MsiPackage Id="Python" SourceFile="..\installers\python.msi" Vital="yes" Compressed="yes" />

			<!-- Note: The following PackageGroupRef is required to pull in generated authoring from project references. -->
			<!-- <PackageGroupRef Id="Bundle.Generated.Packages"/> -->
		</Chain>
	</Bundle>
</Wix>
